{% extends "dashboard/base.html" %}

{% block title %}Nuevo usuario - FaultMate{% endblock %}

{% block titulo %}Crear nuevo usuario{% endblock %}
{% block descripcion %}Esta persona podrá iniciar sesión con su correo y contraseña{% endblock %}

{% block content %}

<div class="card">

    {% if form.non_field_errors %}
    <p class="mensaje-error">{{ form.non_field_errors|join:', ' }}</p>
    {% endif %}

    <form method="POST" class="formulario">

        {% csrf_token %}

        <label for="id_nombre">Nombre</label>
        {{ form.nombre }}
        {% if form.nombre.errors %}<p class="mensaje-error">{{ form.nombre.errors|join:', ' }}</p>{% endif %}

        <label for="id_correo">Correo (se usará para iniciar sesión)</label>
        {{ form.correo }}
        {% if form.correo.errors %}<p class="mensaje-error">{{ form.correo.errors|join:', ' }}</p>{% endif %}

        <label for="id_rol">Rol</label>
        {{ form.rol }}
        {% if form.rol.errors %}<p class="mensaje-error">{{ form.rol.errors|join:', ' }}</p>{% endif %}

        <label for="id_password">Contraseña</label>
        {{ form.password }}
        {% if form.password.errors %}<p class="mensaje-error">{{ form.password.errors|join:', ' }}</p>{% endif %}

        <button type="submit" class="btn">Guardar usuario</button>

    </form>

</div>

<br>

<a href="{% url 'usuarios' %}">&larr; Volver a la lista de usuarios</a>

{% endblock %}
