{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - FaultMate</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

<div class="login-caja">

    <div class="brand-logo-wrap brand-logo-login-wrap">
        <img src="{% static 'img/iot-technologies-logo.svg' %}" alt="IOT Technologies" class="brand-logo-login">
    </div>
    <p>Sistema Inteligente de Diagnóstico Industrial</p>

    {% if error %}
    <p class="mensaje-error">{{ error }}</p>
    {% endif %}

    <!--
        Usuario de prueba (se crea solo al correr "migrate"):
        usuario: test
        contraseña: test123
    -->
    <form class="formulario" action="{% url 'login' %}" method="post">

        {% csrf_token %}

        <label for="usuario">Usuario</label>
        <input id="usuario" type="text" name="usuario" placeholder="Escribe tu usuario" required>

        <label for="password">Contraseña</label>
        <input id="password" type="password" name="password" placeholder="Escribe tu contraseña" required>

        <button type="submit" class="btn" style="width:100%;">Ingresar</button>

    </form>

</div>

</body>
</html>
